body{
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige
}

div{
    padding: 10px;
}

#main{
    background-color: none;
}

nav{
    background-color: rgb(252, 219, 192);
    display: flex;
    flex-direction: row;
}

#video, h3{
    text-align: left,
}

.videoacua{
    text-align: left;
}

nav ul{
    display: flex;
}

nav li{
    margin-left: 20px;
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: rgba(42, 147, 165, 0.404);
}

nav .img{
    display: flex;
        max-height: 5%;
        width: auto;
}

.SobreNosotros{
    background-color: aqua;

}


#videoacua{
    display: flex;
        max-width: 100%;
        height: auto;
        margin-left: 150px;
}

.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#SobreNosotros{ line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    border: 1px dashed white;
    background-color: #acd6dbcb;
    padding: 25px;
    margin: 30px;
    background-repeat: no-repeat;
    background-position: top left;
}

.Nosotros{
    align-content: center;
}

.primer_titulo{
    font-family: fantasy;
}

.contenedor{
    background-color: blue;
}

.inicio{
    display: felx;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.redes{
    text-align: right;
}
