body{
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(./Assets/Img/fotogym2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div{
    padding: 5px;
}


nav{
    display: flex;
    flex-direction: row;
}


.videoacua{
    text-align: left;
}

nav ul{
    display: flex;
}

nav li{
    margin-left: 20px;
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: white;
}


nav .img{
    display: flex;
        max-height: 5%;
        width: auto;
}

.SobreNosotros{
    background-color: rgb(0, 47, 255);

}


#videoacua{
    display: flex;
        max-width: 100%;
        height: auto;
        margin-left: 150px;
        margin: auto;
}

.menuButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#SobreNosotros{ line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    border: 1px dashed white;
    background-color: #acd6dbcb;
    padding: 25px;
    margin: 30px;
    background-repeat: no-repeat;
    background-position: top left;
}

.Nosotros{
    align-content: center;
}

.primer_titulo{
    font-family: fantasy;
}


.inicio{
    display: felx;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


footer{
    background-color: black;
    padding-top: 800px;
    padding-bottom: 100px;
}

.container-portada{
    width: 100%;
    height: 400px;
    background-image: url(./Assets/Img/Imagen\ Nadador.jpg);
    background-size: 100%;
    animation: movimiento 10s infinite linear alternate;
    position: relative
}

@keyframes movimiento{
    from{
        background-position: bottom left;

    }to{
        background-position: top right;

    }
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;

}

.details{
    width: 100%;
    max-width: 500px;
    position: relative;
}
